html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  #introPic {
    float: left;
  }
  
  #bio {
    float: right;
  }
  #bio > li {
    padding: 2px;
  }
  
  #pro {
    width: auto;
  }

/* In the styles.css file, fix the styling for the site, and 
create a media query that fixes the site to correctly display on the "iPhone 6/7/8" view in DevTools. */

@media (max-width: 550px) {
  .hidden--mobile {
    display: flex;
  }
}